/* src/styles/main.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  /* src/styles/main.css */

/* src/styles/main.css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #887e9a;
  border: 1px solid #e4b700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

li {
  /* float: left; No necesitas 'float' con 'flex' */
}

li#perfil {
  margin-left: auto; /* Mueve el elemento a la derecha */
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 8px; /* Ajusta el espacio horizontal para reducir la separación */
  text-decoration: none;
  }
li a:hover{
  background-color: #e4b700;
}
/* Añade un estilo para el enlace activo (puedes ajustarlo según tus necesidades) */
li a.active {
  background-color: #5d5367;
}


  
  
    .home-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .header {
    text-align: center;
    margin: 20px 0;
  }
  
  .promo-section,
  .image-section,
  .cta-section {
    margin: 40px 0;
    text-align: center;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #45a049;
  }